@font-face {
    font-family: 'Coustard';
    src: url('fonts/Coustard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendDeca';
    src: url('fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterTwo';
    src: url('fonts/LobsterTwo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RacingSansOne';
    src: url('fonts/RacingSansOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url('fonts/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Capriola', sans-serif;
    src: url('fonts/Capriola-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambo', serif;
    src: url('fonts/Cambo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cutive', serif;
    src: url('fonts/Cutive-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

* {box-sizing: border-box;}

@media only screen and (max-width: 991px) {
    /* Main */
    html {
        width: 100%;
        background: rgb(96,214,255);
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0;
        padding-top: 10%;
        background: rgb(96,214,255);
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* Grids */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        overflow-wrap: break-word;
        position: relative;
        background: rgb(96,214,255);
    }
    .box {
        display: block;
        padding: 10px 60px 10px 60px;
        overflow-wrap: break-word;
    }
    .h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .sec1 {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    .sec2 {
        grid-column: 3 / 5;
        grid-row: 3;
    }
    .sec3 {
        grid-column: 1 / 5;
        grid-row: 4;
    }

    /* Main Styles */
    .h1 {
        padding: 8% 16% 12%;
        text-align: center;
        font-size: 500%;
        color: rgb(255, 255, 255);
        font-family: 'Capriola', sans-serif;
        background: rgb(96,214,255);
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 150px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .sec1, .sec2, .sec3 {
        text-align: center;
        font-size: 200%;
        font-family: 'Capriola', sans-serif;
    }
    .sec1 {
        background-color: red;
    }
    .sec2 {
        background-color: blue
    }
    .sec3 {
        background-color: green;
    }
    .sec1 h2, .sec2 h2, .sec3 h2 {
        color: rgba(0, 0, 0, 0.685);
        font-size: 220%;
    }
    p a {
        color: white;
        transition: all .2s ease-in;
    }
    p a:hover {
        color: rgba(255, 255, 255, 0.521);
    }
    div img {
        transition: all .5s ease-out;
    }
    div img:hover {
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 992px) {
    /* Main */
    html {
        width: 100%;
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0 auto;
        padding-top: 5%;
        background: rgb(96,214,255);
    }
    a {
        color: #000;
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 2;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;

    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* Grids */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        overflow-wrap: break-word;
        position: relative;
        background: rgb(96,214,255);
    }
    .box {
        display: block;
        padding: 10px 60px 10px 60px;
        overflow-wrap: break-word;
    }
    .h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .sec1 {
        grid-column: 2;
        grid-row: 3;
    }
    .sec2 {
        grid-column: 3;
        grid-row: 3;
    }
    .sec3 {
        grid-column: 2 / 4;
        grid-row: 4;
    }

    /* Main Styles */
    .h1 {
        padding: 8% 20% 12%;
        text-align: center;
        font-size: 400%;
        color: rgb(255, 255, 255);
        font-family: 'Capriola', sans-serif;
        background: rgb(96,214,255);
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 150px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .sec1, .sec2, .sec3 {
        text-align: center;
        font-size: 110%;
        font-family: 'Capriola', sans-serif;
    }
    .sec1 {
        background-color: red;
    }
    .sec2 {
        background-color: blue
    }
    .sec3 {
        background-color: green;
    }
    .sec1 h2, .sec2 h2, .sec3 h2 {
        color: rgba(0, 0, 0, 0.685);
        font-size: 110%;
    }
    p a {
        color: white;
        transition: all .2s ease-in;
    }
    p a:hover {
        color: rgba(255, 255, 255, 0.521);
    }
    div img {
        transition: all .5s ease-out;
    }
    div img:hover {
        transform: scale(1.2);
    }
}
