@font-face {
    font-family: 'Coustard';
    src: url('fonts/Coustard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendDeca';
    src: url('fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterTwo';
    src: url('fonts/LobsterTwo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RacingSansOne';
    src: url('fonts/RacingSansOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url('fonts/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Capriola', sans-serif;
    src: url('fonts/Capriola-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambo', serif;
    src: url('fonts/Cambo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cutive', serif;
    src: url('fonts/Cutive-Regular.ttf') format('truetype');
}

body {
    padding-top: 3%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

* {box-sizing: border-box;}


@media only screen and (max-width: 991px) {
    /* Main */
    html {
        width: 100%;
        background-color: rgb(219, 219, 219);
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0;
        padding-top: 10%
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* Main Styles */
    #content {
        position: relative;
        background: rgb(96,214,255);
        background: linear-gradient(180deg, rgba(96,214,255,1) 33%, rgb(226, 171, 69) 50%, rgba(240, 181, 129, 0.863) 73%, rgba(141, 141, 141, 0.877) 90%);
    }
    .h1 {
        padding: 8% 20% 12%;
        text-align: center;
        font-size: 500%;
        color: rgb(219, 250, 255);
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .middle1 {
        display: flex;
        background-color: rgb(252, 170, 63);
    }
    .middle2 {
        display: flex;
        background-color: rgb(253, 206, 145);
    }
    .middle3 {
        display: flex;
        background-color: rgb(190, 190, 190);
    }
    .info1, .info2, .info3 {
        color: rgba(32, 32, 32, .9);
        align-self: center;
        padding-right: 3%;
        padding-left: 1%
    }
    .info1 h2, .info2 h2, .info3 h2 {
        font-size: 300%;
        text-decoration: underline;
    }
    .info1 p, .info2 p, .info3 p {
        font-size: 150%;
    }
    .hideme img {
        width: 100%
    }

    /* Boxes */
    .box {
        text-align: center;
    }
    .box img {
        position: relative;
        transition: all .5s ease;
        border-radius: 10px;
    }
    .sec2:hover img, .sec3:hover img{
        opacity: .8;
    }
    .sec4:hover img {
        opacity: .75;
    }

    /* Footer */
    .footer {
        background-color: rgb(138, 138, 138);
        text-align: center;
        color: rgb(66, 66, 66);
        padding-top: .1px
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
    .footer img {
        width: 70%
    }
    .footer .second {
        width: 54%
    }
}

@media only screen and (min-width: 992px) {
    /* Main */
    html {
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0 auto;
        padding-top: 5%;
        background: white
    }
    a {
        color: #000;
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;

    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* Main Styles */
    #content {
        position: relative;
        background: rgb(96,214,255);
        background: linear-gradient(180deg, rgba(96,214,255,1) 33%, rgb(226, 171, 69) 50%, rgba(240, 181, 129, 0.863) 73%, rgba(141, 141, 141, 0.877) 90%);
    }
    .h1 {
        padding: 8% 20% 12%;
        text-align: center;
        font-size: 500%;
        color: rgb(219, 250, 255);
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .middle1 {
        display: flex;
        background-color: rgb(252, 170, 63);
    }
    .middle2 {
        display: flex;
        background-color: rgb(253, 206, 145);
    }
    .middle3 {
        display: flex;
        background-color: rgb(190, 190, 190);
    }
    .middle4 {
        display: flex;
        background: red
    }
    .middle5 {
        display: flex;
        background: black
    }
    .middle6 {
        display: flex;
        background: gray
    }

    .info1, .info2, .info3 {
        color: rgba(32, 32, 32, .9);
        align-self: center;
        padding-right: 3%;
    }
    .info1 h2, .info2 h2, .info3 h2 {
        font-size: 400%;
        text-decoration: underline;
    }
    .info1 p, .info2 p, .info3 p {
        font-size: 150%;
    }

    /* Boxes */
    .box {
        text-align: center;
    }
    .box img {
        position: relative;
        transition: all .5s ease;
        border-radius: 10px;
    }
    .sec2:hover img, .sec3:hover img{
        opacity: .8;
    }
    .sec4:hover img {
        opacity: .75;
    }

    /* Footer */
    .footer {
        background-color: rgb(138, 138, 138);
        text-align: center;
        color: rgb(66, 66, 66);
        padding-top: .1px
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
}
