@font-face {
    font-family: 'Coustard';
    src: url('fonts/Coustard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendDeca';
    src: url('fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterTwo';
    src: url('fonts/LobsterTwo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RacingSansOne';
    src: url('fonts/RacingSansOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url('fonts/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Capriola', sans-serif;
    src: url('fonts/Capriola-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambo', serif;
    src: url('fonts/Cambo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cutive', serif;
    src: url('fonts/Cutive-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

* {box-sizing: border-box;}

@media only screen and (max-width: 991px) {
    /* Main */
    html {
        width: 100%;
        background: rgb(96,214,255);
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0;
        padding-top: 10%
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

   /* Grids */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        overflow-wrap: break-word;
        position: relative;
        overflow-x:hidden
    }
    .box {
        display: block;
        padding: 10px 60px 10px 60px;
        background-color: rgb(207, 207, 207);
        overflow-wrap: break-word;
    }
    .h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .img1 {
        grid-column: 1;
        grid-row: 1;
    }
    .img2 {
        grid-column: 4;
        grid-row: 1;
    }
    .about {
        grid-column: 1 / 5;
        grid-row: 3;
    }
    .sec2 {
        grid-column: 1 / 3;
        grid-row: 4;
    }
    .sec3 {
        grid-column: 3 / 5;
        grid-row: 4;
    }
    .space1 {
        grid-column: 1;
        grid-row: 2 / 5;
    }
    .space2 {
        grid-column: 4;
        grid-row: 2 / 5;
    }
    .footer {
        grid-column: 1 / 5;
        grid-row: 6;
    }

    /* H1 */
    .h1 {
        padding: 12% 20% 16% 20%;
        text-align: center;
        font-size: 500%;
        background: rgb(96,214,255);
        color: white;
        text-shadow: .5px .5px 2px white;
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .img1, .img2 {
        position: relative;
        top: 200px;
        z-index: 2;
    }
    .img1 {
        animation-name: fade-image;
        animation-duration: 1s;
        left: 30px
    }
    .img2 {
        animation-name: fade-image2;
        animation-duration: 1s;
        right: 10px
    }
    @keyframes fade-image {
        from {left: -250px; opacity: 0;}
        to {left: 30px; opacity: 1;}
    }
    @keyframes fade-image2 {
        from {right: -250px; opacity: 0;}
        to {right: 10px; opacity: 1;}
    }
    /* Boxes */
    .about {
        text-align: center;
        font-size: 400%;
        font-weight: bold;
        background-color: rgb(92, 148, 175);
    }
    .about h2 {
        margin: 2px 0 0 0 ;
    }
    .about hr {
        width: 30%;
        border: 0;
        border-top: 4px solid black;
        margin: 0 auto 3% auto;
    }
    .section {
        text-align: center;
        font-size: 200%;
    }
    .section h2 {
        font-size: 150%;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .section hr {
        visibility: visible;
        border: 0;
        border-top: 3px solid rgba(110, 110, 110, 0.733);
        width: 100%;
        margin: 2% auto 0 auto
    }
    .section p {
        font-size: 55%;
    }
    .sec2 {
        background-color: rgb(152, 190, 200)
    }
    .sec3 {
        background-color: rgb(203, 221, 221);
    }
    .space1, .space2 {
        z-index: 2;
    }
    .space1 hr, .space2 hr{
        margin: 50px;
        visibility: hidden;
    }

    /* Footer */
    .footer {
        background-color: rgb(134, 196, 219);
        text-align: center;
        color: rgb(42, 70, 83);
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
    .footer img {
        width: 70%
    }
    .footer .second {
        width: 54%
    }
}

@media only screen and (min-width: 992px) {
    /* Main */
    html {
        width: 100%;
        background-color: rgb(139, 204, 204);
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0 auto;
        background: rgb(96,214,255);
        padding-top: 3%
    }
    a {
        color: #000;
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;

    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }
    .header input {
        display: none;
    }

    /* Grids */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        overflow-wrap: break-word;
        position: relative;
        overflow-x:hidden
    }
    .box {
        display: block;
        padding: 10px 60px 10px 60px;
        background-color: rgb(207, 207, 207);
        overflow-wrap: break-word;
    }
    .h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .img1 {
        grid-column: 1;
        grid-row: 1;
    }
    .img2 {
        grid-column: 4;
        grid-row: 1;
    }
    .about {
        grid-column: 2 / 4;
        grid-row: 3;
    }
    .sec2 {
        grid-column: 2;
        grid-row: 4;
    }
    .sec3 {
        grid-column: 3;
        grid-row: 4;
    }
    .space1 {
        grid-column: 1;
        grid-row: 2 / 5;
    }
    .space2 {
        grid-column: 4;
        grid-row: 2 / 5;
    }
    .footer {
        grid-column: 1 / 5;
        grid-row: 6;
    }

    /* H1 */
    .h1 {
        padding: 12% 20% 16% 20%;
        text-align: center;
        font-size: 500%;
        background: rgb(96,214,255);
        color: white;
        text-shadow: .5px .5px 2px white;
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }
    .img1, .img2 {
        position: relative;
        top: 200px;
        z-index: 2;
    }
    .img1 {
        animation-name: fade-image;
        animation-duration: 1s;
        left: 50px
    }
    .img2 {
        animation-name: fade-image2;
        animation-duration: 1s;
        right: 10px
    }
    @keyframes fade-image {
        from {left: -350px; opacity: 0;}
        to {left: 50px; opacity: 1;}
    }
    @keyframes fade-image2 {
        from {right: -350px; opacity: 0;}
        to {right: 10px; opacity: 1;}
    }
    /* Boxes */
    .about {
        text-align: center;
        font-size: 300%;
        font-weight: bold;
        background-color: red;
    }
    .about h2 {
        margin: 2px 0 0 0 ;
    }
    .about hr {
        width: 30%;
        border: 0;
        border-top: 4px solid black;
        margin: 0 auto 3% auto;
    }
    .section {
        text-align: center;
        font-size: 200%;
    }
    .section h2 {
        font-size: 150%;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .section hr {
        visibility: visible;
        border: 0;
        border-top: 3px solid rgba(110, 110, 110, 0.733);
        width: 100%;
        margin: 2% auto 0 auto
    }
    .section p {
        font-size: 60%;
    }
    .sec2 {
        background-color: blue
    }
    .sec3 {
        background-color: green;
    }
    .space1, .space2 {
        z-index: 2;
    }
    .space1 hr, .space2 hr{
        margin: 50px;
        visibility: hidden;
    }

    
    /* Footer */
    .footer {
        background-color: purple;
        text-align: center;
        color: rgb(42, 70, 83);
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
        color: red
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
}