@font-face {
    font-family: 'Coustard';
    src: url('fonts/Coustard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendDeca';
    src: url('fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterTwo';
    src: url('fonts/LobsterTwo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RacingSansOne';
    src: url('fonts/RacingSansOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url('fonts/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Capriola', sans-serif;
    src: url('fonts/Capriola-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambo', serif;
    src: url('fonts/Cambo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cutive', serif;
    src: url('fonts/Cutive-Regular.ttf') format('truetype');
}


a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

* {box-sizing: border-box;}

@media only screen and (max-width: 991px) {
    /* Main */
    html {
        width: 100%;
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0;
        padding-top: 10%
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;

    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* H1 */
    .h1 {
        padding: 12% 20% 16% 20%;
        text-align: center;
        font-size: 500%;
        background: rgb(96,214,255);
        color: white;
        text-shadow: .5px .5px 2px white;
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Top */
    .top {
        text-align: center;
        line-height: 2em;
    }
    .top h2 {
        font-weight: bold;
        font-size: 350%;
        margin-bottom: 10px;
    }
    .top p {
        font-size: 170%;
        margin: 5px
    }

    /* Profile */
    .profile h3 {
        text-align: center;
        font-size: 260%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .profile p {
        font-size: 130%;
        margin-top: 5px
    }

    /* Skills */
    .skills h3 {
        text-align: center;
        font-size: 260%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .skills p {
        font-size: 130%;
        margin-top: 5px;
        line-height: 1.25em;
    }

    /* Education */
    .education h3 {
        text-align: center;
        font-size: 260%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .education .p {
        display: flex;
        justify-content: space-evenly;
        font-size: 130%;
        text-align: center;
    }
    .education .p p {
        display: block;
        margin: 5px 0 0 0;
        font-size: 130%;
    }
    .education > p {
        font-size: 100%;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .education h3:nth-of-type(2) {
        text-align: left;
        font-size: 130%;
        margin-top: 0px;
    }

    /* Volunteer */
    .volunteer h3 {
        text-align: center;
        font-size: 260%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .volunteer p {
        font-size: 120%;
        margin-top: 5px;
        line-height: 1.25em;
    }

    /* Activities */
    .activities h3 {
        text-align: center;
        font-size: 260%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .activities p {
        font-size: 120%;
        margin-top: 5px;
        line-height: 1.25em;
    }
    
    /* Footer */
    .footer {
        background-color: rgb(167, 195, 207);
        text-align: center;
        color: rgb(42, 70, 83);
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
    .footer img {
        width: 70%
    }
    .footer .second {
        width: 54%
    }
}

@media only screen and (min-width: 992px) {
    /* Main */
    html {
        width: 100%;
    }
    body {
        font-family: 'RobotoSlab';
        margin: 0 auto;
        padding-top: 3%
    }
    a {
        color: #000;
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 3;
        background: white;
        color: black;
        font-size: 200%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        top: 0;
        box-shadow: 5px 5px 10px rgb(160, 160, 160);
        transition: .2s;
        font-family: 'Capriola', sans-serif;
    }
    .header a {
        color: black;
    }
    .header ul li a:hover {
        color: orange
    }
    .header .logo {
        user-select: none;
        width: 17%;
        float: left;
        transition: .2s;
        padding: 1%
    }
    .header .logo:hover {
        opacity: .8;
    }
    .header > ul {
        position: absolute;
        right: 20px;
        top: 15px;

    }
    .header hr {
        visibility: hidden;
    }
    li {
        display: block;
        position: relative;
        text-decoration: none;
        float: left;
        padding: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: orange;
    }

    /* H1 */
    .h1 {
        padding: 12% 20% 16% 20%;
        text-align: center;
        font-size: 500%;
        background: rgb(96,214,255);
        color: white;
        text-shadow: .5px .5px 2px white;
        font-family: 'Capriola', sans-serif;
    }
    h1 {
        animation-name: fade-in;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes fade-in {
        from {top: 100px; opacity: 0;}
        to {top: 0px; opacity: 1;}
    }

    .container {
        width: 50%;
        margin: 0 auto;
    }

    /* Top */
    .top {
        text-align: center;
        line-height: 5px;
    }
    .top h2 {
        font-weight: bold;
        font-size: 150%;
    }
    .top p {
        font-size: 110%;
    }

    /* Profile */
    .profile h3 {
        text-align: center;
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .profile p {
        font-size: 100%;
        margin-top: 5px
    }

    /* Skills */
    .skills h3 {
        text-align: center;
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .skills p {
        font-size: 100%;
        margin-top: 5px;
        line-height: 1.25em;
    }

    /* Education */
    .education h3 {
        text-align: center;
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .education .p {
        display: flex;
        justify-content: space-evenly;
    }
    .education .p p {
        display: block;
        margin: 5px 0 0 0;
    }
    .education > p {
        font-size: 100%;
        margin-top: 5px;
    }
    .education h3:nth-of-type(2) {
        text-align: left;
        font-size: 100%;
    }

    /* Volunteer */
    .volunteer h3 {
        text-align: center;
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .volunteer p {
        font-size: 100%;
        margin-top: 5px;
        line-height: 1.25em;
    }

    /* Activities */
    .activities h3 {
        text-align: center;
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .activities p {
        font-size: 100%;
        margin-top: 5px;
        line-height: 1.25em;
    }
    /* Footer */
    .footer {
        background-color: rgb(167, 195, 207);
        text-align: center;
        color: rgb(66, 97, 112);
    }
    .footer h3 {
        font-weight: bold;
        margin: 15px 0 5px;
        font-size: 32px;
    }
    .footer a {
        display: block;
        text-align: center;
    }
    .footer div {
        display: flex;
        width: 20%;
        margin: 0 auto
    }
}