@import url("AllGrids.css");

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.7% auto auto auto auto auto auto 2%;
    grid-gap: 10px;
    position: absolute;
}
.box {
    display: block;
    font-size: 100%;
    padding: 10px;
    background-color: rgb(252, 217, 173);
}
.sec1 {
    grid-column: 1 / 5;
    grid-row: 2;
}
.sec2 {
    grid-column: 1 / 5;
    grid-row: 3;
}
.sec3 {
    grid-column: 1 / 6;
    grid-row: 4;
}
.sec4 {
    grid-column: 1 / 6;
    grid-row: 5;
}
.sec5 {
    grid-column: 1 / 6;
    grid-row: 6;
}
.sec6 {
    grid-column: 1 / 6;
    grid-row: 7;
}
.aside {
    grid-column: 5;
    grid-row: 2 / 4;
}
.footer {
    grid-column: 1 / 6;
    grid-row: 8;
}